<div class="container">
    <div>
    <h5>Register</h5>
    <div class="formgrid grid">
        <div class="field col-12">
            <label for="firstname6">Name</label>
            <input pInputText id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="lastname6">Username</label>
            <input pInputText id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="city">email</label>
            <input pInputText id="city" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="city">password</label>
            <input type="password" pInputText id="city" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12">
            <label for="city">confirmpassword</label>
            <input type="password" pInputText id="city" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <p-button>Register</p-button>
    </div>

    <p-calendar [inline]="true" [showWeek]="true"></p-calendar>
    </div>
</div>
