/* .container{
    background-color: black;
    align-items: center;
}
.text{
    justify-content: center;
    
} */

.box {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding-left: 30px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}